body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.dish{
  background-color: red;
  margin-top: 10px;
}

#body{
  background-color: white;
  padding: 10px 10px 10px 10px;
}

.chain-one{
  padding-left: 10px;
}

.chain-two{
  padding-left: 20px;
}
.chain-three{
  padding-left: 30px;
}
.chain-four{
  padding-left: 40px;
}